{% extends "base.html" %}
{% block content %}
<div class="show-tag-container">
  <h2>{{tag.name}}</h2>
  <ul class="show-tag-items">
    {% for post in tag.posts%}
    <a href="/posts/{{post.id}}">
      <li class="show-tag-item">{{post.title}}</li>
    </a>
    {% endfor %}
  </ul>
  <form class="post-btn-container">
    <button class="cancel" formmethod="GET" formaction="/tags" >Cancel</button>
    <button class="edit" formmethod="GET" formaction="/tags/{{tag.id}}/edit" >Edit</button>
    <button class="delete" formmethod="POST" formaction='/tags/{{tag.id}}/delete'>Delete</button>
  </form>
</div>
{% endblock %}